.contacts {

    .hero{

        &__container {
            margin: 125px auto;
            display: flex;
            justify-content: space-between;
        }

        &__text {
            max-width: 543px;
        }
    }

    .info {

        &__img {
            width: 20px;
            color: $color-text;
            mask-image: $color-text;
        }
    }
}