.contacts {

    .hero{

        &__container {
            margin: 125px auto;
            display: flex;
            justify-content: space-between;

            @media (max-width: $tab) {
                flex-direction: column;
                max-width: 288px;
                margin: 64px 16px;
            }
        }

        &__text {
            max-width: 543px;

            @media (max-width: $tab) {
                margin-top: 42px;
            }
        }
    }

    .main {

        display: flex;
        flex-direction: row-reverse;

        @media (max-width: $tab) {
            flex-direction: column-reverse;
            max-width: 288px;
            margin: auto 16px;
        }
        
        &__container {
            width: 542px;
        }

        &__title {
            margin-bottom: 24px;

            @media (max-width: $tab) {
                margin-bottom: 40px;
            }
        }

        &__address {
            max-width: 226px;
            margin-bottom: 21px;

            @media (max-width: $tab) {
                margin-bottom: 23px;
            }
        }

        &__box {
            display: flex;
            margin-bottom: 22px;
            align-items: center;
            gap: 9px;

            &:last-child {
                margin-bottom: 69px;

                @media (max-width: $tab) {
                    margin-bottom: 51px;
                }
            }   
        }

        &__img {
            width: 20px;
            height: 20px;
            color: $color-text;
            mask-image: $color-text;
        }

        &__sub {
            margin-bottom: 26px;

            @media (max-width: $tab) {
                margin-bottom: 24px;
            }
        }

        &__social {
            display: flex;
            gap: 24px;
        }

        &__icon {
            width: 16px;
            height: 18px;
            gap: 24px;
            margin-bottom: 24px;

            @media (max-width: $tab) {
                margin-bottom: 64px;
            }
        }
    }
    
    .forma {
        display: flex;
        flex-direction: column;

        &__box {
            display: flex;
            flex-direction: column;
        }

        &__select {
            font-family: $sub-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 166.3%;
            letter-spacing: 0.1em;
            color: $color-h5;
            margin-bottom: 49px;
            text-align: left;
            border-bottom: 1px solid $color-black;
        }

        &__label {
            margin-bottom: 17px;
        }

        &__input {
            border-bottom: 1px solid $color-black;
            margin-bottom: 49px;

            &:last-child {
                margin-bottom: 64px;
            }

            @media (max-width: $tab) {
                max-width: 288px;
            }
        }

        &__button {
            width: 136px;
            height: 45px;
            font-family: $main-font;
            font-weight: 700;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 124px;

            @media (max-width: $tab) {
                margin-bottom: 64px;
            }
        }

        &__arrow {
            width: 19px;
        }
    }
}