.info {

    &__box {
        padding: 135px 0 64px 0;

        @media (max-width: $tab) {
            padding: 73px 0 39px 0;
        }
    }

    &__category {
        margin-bottom: 24px;

        @media (max-width: $tab) {
            margin-bottom: 16px;
        }
    }

    &__title {
        margin-bottom: 48px;
        max-width: 640px;

        @media (max-width: $tab) {
            margin-bottom: 16px;
            max-width: 288px;
        }
    }

    &__text {

        display: flex;
        gap: 39px;
        align-items: center;

        &-img {
            width: 16px;
            height: 15px;
        }

        &-number {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        @media (max-width: $tab) {
            align-items:flex-start ;
            flex-direction: column;
            gap: 14px;
        }
    }

    &__img{
        max-height: 470px;
        margin-bottom: 41px;

        @media (max-width: $tab) {
            max-height: 121px;
            max-width: 288px;
            margin-bottom: 39px;
        }
    }
}

.description {
    
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 90px;
    }

    &__box {

        &:first-child {
            position: sticky;
            flex-direction: column;
            margin-top:124px; 
            margin-left:90px;

            @media (max-width: $tab) {
                position: absolute;
                display: flex;
                flex-direction: row;
                gap: 24px;
                left: -70px;
                top: 680px;
            }
        }
    }

    &__photo {
        max-width: 70px;
    }

    &__icon {
        width: 16px;
        height: 18px;
        gap: 24px;
        margin-bottom: 24px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-black;

        @media (max-width: $tab) {
            margin-bottom: 91px;
        }
    }

    &__abstract {
        

        &:nth-child(3) {
            border-left: 3px solid #7b7b7b;
        }
        
    }

    &__text {
        margin-top: 39px;
        color: $color-black;
        max-width: 736px;

        &-left {
            max-width: 736px;
            margin-left: 63px;

            @media (max-width: $tab) {
                margin-left: 16px;
            }

            &:first-child {
                margin: 30px 63px;
                color: $color-black;
                max-width: 672px;

                @media (max-width: $tab) {
                    margin-left: 16px;
                }
            }

        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 39px;
        color: $color-black;
        max-width: 736px;
        margin-bottom: 66px;

        &-item {
            margin-bottom: 30px;
            list-style: inside;
        }
    }

    &__tags {
        display: flex;
        color: $color-black;
        align-items: center;
        gap: 16px;
        margin-bottom: 112px;

        @media (max-width: $tab) {
            color: $color-h6;
            border-bottom: 2px solid gray;
            align-items: baseline;
            margin-bottom: 64px;
        }

            &-gray {
                max-width: 418px;

                @media (max-width: $tab) {
                    justify-content: first baseline;
                    color: $color-black;
            }
        }
    }
}

.form {

    padding-left: 352px;
    margin-bottom: 92px;

    @media (max-width: $tab) {
        padding-left: 16px;
        max-width: 288px;
        margin-bottom: 96px;
    }

    &__sub {
        margin-bottom: 64px;
    }
    
    &__box {
        display: flex;

        @media (max-width: $tab) {
            flex-direction: column;
        }

        &-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &:nth-child(2) {
            align-items: center;
            gap: 10px;
            margin-bottom: 49px;

            @media (max-width: $tab) {
                flex-direction: row;
                margin-left: 0 auto;
            }
        }
    }

    &__label {
        margin-bottom: 16px;
    }

    &__input {
        border-bottom: 1px solid $color-black;
        margin-right: 43px;
        margin-bottom: 48px;
        width:215px;
    }

    &__comment {
        border-bottom: 1px solid $color-black;
        margin-bottom: 24px;
        width: 732px;

        @media (max-width: $tab) {
            width: 288px;
        }
    }

    &__button {
        width: 109px;
        height: 45px;
    }
}