.info {

    &__box {
        padding: 135px 0 64px 0;

        @media (max-width: $tab) {
            padding: 73px 0 39px 0;
        }
    }

    &__category {
        margin-bottom: 24px;

        @media (max-width: $tab) {
            margin-bottom: 16px;
        }
    }

    &__title {
        margin-bottom: 48px;
        max-width: 640px;

        @media (max-width: $tab) {
            margin-bottom: 16px;
            max-width: 288px;
        }
    }

    &__text {

        display: flex;
        gap: 39px;
        align-items: center;

        &-img {
            width: 16px;
            height: 15px;
        }

        &-number {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        @media (max-width: $tab) {
            align-items:flex-start ;
            flex-direction: column;
            gap: 14px;
        }
    }

    &__img{
        max-height: 470px;
        margin-bottom: 41px;

        @media (max-width: $tab) {
            max-height: 121px;
            margin-bottom: 39px;
        }
    }
}

.description {
    
    &__container {
        display: flex;
        flex-direction: row;
        gap: 90px;
    }

    &__box {

        &:first-child {
            position: sticky;
            flex-direction: column;
            margin-top:124px; 
            margin-left:90px;
        }
    }

    &__photo {
        max-width: 70px;
    }

    &__icon {
        width: 16px;
        height: 18px;
        gap: 24px;
        margin-bottom: 24px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-black;
    }

    &__text {
        margin-top: 39px;
        color: $color-black;
        max-width: 736px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: inside;
    }
}